<div mat-dialog-content>
  <p>Please enter the notes you want to save</p>
  <form class="form-container" [formGroup]="notesForm" (ngSubmit)="postData()">
    <mat-form-field>
      <!-- <input matInput [(ngModel)]="data.animal"> -->
      <input matInput placeholder="Please enter your name" formControlName="user" />
    </mat-form-field>
    <mat-form-field>
      <input type="text" placeholder="Pick one" aria-label="Number" matInput [formControl]="myControl"
        [matAutocomplete]="auto" formControlName="notes">
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
          {{option}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <div>
      <button mat-raised-button type="submit" [disabled]="!(notesForm.value.user && myControl.value)" color="accent">
        Save
      </button>
      <button mat-raised-button type="reset">Reset</button>
    </div>
  </form>
</div>