<!-- <h1 mat-dialog-title>Hi {{data.name}}</h1> -->
<div mat-dialog-content>
  <p>Please enter the notes you want to save</p>
  <form class="form-container" [formGroup]="notesForm" (ngSubmit)="postData()">
    <mat-form-field>
      <!-- <input matInput [(ngModel)]="data.animal"> -->
      <input matInput placeholder="Please enter your name" formControlName="user" />
    </mat-form-field>
    <mat-form-field>
      <textarea
        matInput
        placeholder="Please enter your notes"
        formControlName="notes"
        style="width:100%"
        cdkTextareaAutosize
      ></textarea>
    </mat-form-field>
    <div>
      <button mat-raised-button type="submit" [disabled]="!notesForm.valid" color="accent">
        Save
      </button>
      <button mat-raised-button type="reset">Reset</button>
    </div>
  </form>
</div>
