<div class="container">
  <div class="row">
    <div class="col-sm-4">
      One of three columns
    </div>
    <div class="col-sm-8">
      One of three columns
    </div>

  </div>
  <div class="row">
    <div class="col-sm-4">
      One of three columns
    </div>
    <div class="col-sm-8">
      One of three columns
    </div>

  </div>
  <div class="row">
    <div class="col-sm-4">
      One of three columns
    </div>
    <div class="col-sm-8">
      One of three columns
    </div>

  </div>
  <div class="row">
    <div class="col-sm-4">
      One of three columns
    </div>
    <div class="col-sm-8">
      One of three columns
    </div>

  </div>
</div>
<div class="card">
  <div class="card-body">
    <ul class="list-group">
      <li class="list-group-item">Name {{notes.user}}</li>
      <li class="list-group-item">Notes {{notes.notes}}</li>
      <li class="list-group-item">Created {{notes.createdAt}}</li>
      <li class="list-group-item">Last Updated {{notes.updatedAt}}</li>
    </ul>
  </div>
</div>